<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>第一个HTML页面</title>
</head>
<body>
<h1>Hello Spring Boot!!!</h1>
<p th:text="${hello}"></p>
<p>
    <h1>优秀文章赏析</h1>
    在乎
  耳边，我听见太多悲伤的声音。而我，只能用力捂住耳朵。我不愿听到他们说悲秋伤春，不愿听到他们说漠视自己的生命。在这最美好的年华，为了易逝的事物而悲伤、绝望，只会让年华变得灰暗无味。
  不要这样，不要这样。
  即使难过，即使有挫折，即使屡战屡败，也不要放弃。生命，应该对困难说不在乎。90后的我们，也许真的有太多的烦恼，沉重的升学负担压得我们无法喘息，而我们，又何尝不掩面抽泣。为何不去挑战，让青春在挥汗的战斗中变得有声有色；为何不去奔跑，让青春在疯狂之后变得饱满而欢乐。
  何必再慨叹，何必太在乎困难和压力与那易逝的时光，何必让自己的年华变得如此压抑。应该在乎的是美好，是冬日里的残阳，是每一颗星星，每一句父母和老师的叮咛，每一次同学和朋友对自己的关心。
  望望远方，那小小帆船也有翻落的时候，那森林之中也有病树死去，但仍是“沉舟侧畔千帆过，病树前头万木春”。花朵从不叹息自己的宿命，“化作春泥更护花”。正站在花季翘首仰望的我们，请擦干眼泪，轻装上阵。也许“青春是道明媚的忧伤”，也许“我左手是过目不忘的萤火，右手是十年一个漫长的打坐”，也许……但我们不必在乎。若是因此而纵然伤感，不如一笑而过，因为我们在乎的是我们的青春，在乎的是快乐地度过每一天，在乎的是自己在乎的人和在乎自己的人比自己更幸福。
  别再伤春悲秋，一直向前看。青春里，纵使有太多不确定，纵使时常遭受打击，但我们不必因此一蹶不振。因为，有更重要的东西值得我们在乎。
2010年海南中考满分作文：我心中的春来源：E度作文网 2010-07-14 19:41:13
[标签：满分作文]
  春，一个播种希望的季节；一段流光溢彩的岁月；一颗刚刚破土的种子。万物复苏，百灵用歌声唱破大地疲惫的梦；生机勃勃，花儿草儿们用色彩渲染着土地。阳光灿烂的春季拨弄着大地，把地上的生灵变得生机盎然，每一个角落都流淌着春天的气息。
  田野里，冬季的冰冷刚刚归去，春季就最先来到了这里。瞧那绽开的花蕊，吐呐着香甜的空气，那翠绿欲滴的稻浪，拥顶着希望的甜蜜。那一份持久的清新在空气中酝酿，那一份纯真的信念在心里流淌，似乎每一束阳光都有青草的味道在荡漾，一切是那么的不寻常，一切又是那么的充满希望，春季就是如此完美，带着几分高贵典雅却又流露出邻家女孩的清纯醉人；携着几丝柔情似水却又掩盖不住小孩般的坦诚率真，如万花筒般的多姿多彩。
  秋是收获的季节，春则是播种的岁月，那一排排英姿飒爽的行道树守侯着城市的风云变幻，但它们并不是像古稀老人般的沧桑，它们枝头吐出的新芽渲染了整座城市，那碧绿醉人的枝叶首尾相连的覆盖了整条大马路，连风儿都只是轻轻拂过，因为怕一用力，会将碧绿的汁液给挤出来。春天就是这么水灵灵。
  冬季是肃杀的时令，春季则是活泼的时节，瞧那电线杆上的小燕子，一身黑戎装，像一个个彬彬有礼的绅士；又像一个个灵巧的音符，从春天飞出；像一个个从天国来的天使，为春天带来无限的生机。农民伯伯们在田野里尽情播种，翻土，看到农民伯伯们憧憬的眼神和晶莹的汗水，我仿佛看到一个果实累累的秋，没有春天的希望与辛勤，哪来秋季的收获与成功，没有努力，又怎可期待胜利？
  春天是美丽的，不论是那绵绵的春雨还是那温柔的春风。春天的灵巧的，不论是那枝头的嫩绿还是花园中的万紫千红。是的，春天没有夏季的热烈激情，没有秋季的典雅诗意，更没有冬季的深沉悲壮，但它却将希望与生机在每个人心中演绎，将满腔的快乐与甜蜜揉进每个人心里。
  春天是温柔的。因为它承载着太多太多的希望，太多太多的梦想。它是秋天埋下的伏笔，是冬天孕育的儿女，更是四季中唯一能给人以祝福的季节。这个世界因为有了春天才变得多姿多彩，我们的心灵也因为有了春天的到来才变得更加阳光灿烂。
  春在哪里？不必刻意去寻找，只要你心里一直充满希望，只要你心里没有放弃自己的梦想，只要你会努力，那么春天就在你心里，从未远去
2010年海南中考满分作文：开端来源：E度作文网 2010-07-14 19:40:47
[标签：满分作文]
   耕耘是收获的开端；梦想，是成功的开端；自立是自强的开端；拼搏，是辉煌的开端。
  好的开端是成功的一半。由此可见，开端有着无与伦比的作用，拥有一个良好的开端，信心与决心也会随之倍增，也便离成功更近了一步。
  人人都在追求良好的开端，以求得人生旅途的一帆风顺，一往无前。
  然而真正的开端对于万事万物都是平等的。在人世之中，有目不识丁的村姑，也有温文尔雅的大家闺秀；有掌握一国命脉的决策者，也有默默无闻的芸芸终生。无论他（她）美丽、丑陋；之后富有与贫穷；当他呱呱坠地之时，都有一个梦幻的开端，他纯洁他充满希望他身上蕴含着神圣的光芒。就如那轮冉冉升起的照样，就如那汹涌澎湃的花之春潮，就如那蕴含着希望的田野。也许之后会经历阴云的遮盖，风吹雨打，遭遇种种挫折，但最终会结出甜美可口的果实。
  开端犹如一块埋藏在土中的钻石，它的出土会带来惊异与快乐。但经过人与人之间对于利益疯狂的追逐，进过了清洗与打磨，变得熠熠生辉，价格不菲。也许开端与结尾相比，显得过于浪漫，过于幼稚，犹如一杯新榨的橘子汁，饮起来固然有些酸涩，但与世间充斥的糖精勾兑品相比，也就显得愈加珍贵。。
  开端是纯真的、美好的、有棱有角、锐意进发。经过了人世间的悲欢离合，挫折失败，磨得圆润光滑，左右逢源。但那磨掉的却是宏图大志，坚韧正直，而想要坚守这份纯真浪漫幻想的，也只有那些隐居者了吧？
  让我们铭记这些烂漫的开端吧，不要让它默默沉在记忆的低端，变得支离破碎……
2010年德州中考满分作文：动力来自心中的偶像来源：E度作文网 2010-07-14 19:38:32
[标签：满分作文]
  当历史的长河消逝在时间的大海时，有些偶像却依然清晰地活在我们的心中。他们就像心中的一支莲花——出淤泥而不染，濯清涟而不妖。不仅给予了我们视觉上的美感，更给了我们前进的动力。
  当你站在那汨罗江畔观看江流涌动的时候，是否记得那天地含悲的历史画面，是否还记得那“举世皆浊我独清，世人皆醉我独醒”的屈原英勇投江的场面。屈原，你是我们智慧与情感动力的源泉。当你站在那乌江边上观看波浪翻腾的时候，是否记得那楚汉争霸的纷飞战火，是否还记得那“生当作人杰，死亦为鬼雄”的项羽自刎乌江的场面。项羽，你是我们英勇气概的源泉与动力。
  顾城曾经说过：“黑夜给了我黑色的眼睛，我却用它寻找光明。”在我心里，每一位偶像，都给我带来了生命的激情与动力。也许洪战辉可以扔下小不点，可他选择了坚守责任；也许李春燕可以不下乡来，前往富裕之地就医，可他心里放不下乡亲；也许陈健可以违背诺言，到大陆去发展，但他铭记着他人的恩情；也许丛飞可以享受荣华富贵，但他心系着贫困山村的孩子。每一位不平凡的偶像，都以不同的方式在鼓励着我、推动着我。
  偶像，它是你前进的动力，当你迷茫时，读到“莫愁前路无知己，天下谁人不识君”，你会看清自己的目标；当你失落时，读到“山穷水尽疑无路，柳暗花明又一村”，你会看到一丝光明。即使你现在只是一只柔弱的雏鹰，但你有蓝天为你的偶像，只要你心存高远，终可以直击蓝天，俯视大地。即使你现在只是一条涓涓细流，但你有大海作为你的偶像，只要你锲而不舍，终会拥抱大海；即使你现在只是一株稚嫩的树苗，但你有大树作为你的偶像，只要你坚忍不拔，终会长成参天大树！
  偶像，我们生命动力的不竭源泉！让我们用知识为船，用行动为帆，用偶像为舵，满怀激情地驶向成功的彼岸。
2010年厦门中考满分作文：漫步在公园小道来源：E度作文网 2010-07-14 19:37:10
[标签：满分作文]
  一个春天的早晨，我漫步在公园的小道上。
  突然，下起了蒙蒙细雨来。雨，如同万条银丝，从天空中撒下来。像牛毛，似花针，若细丝，密密地斜织着。山顶上笼罩着一层淡淡的薄烟，似雾一般的雨，如雨一般的雾，交织在一起，丝丝缕缕，缠绵不绝。轻轻地，闭了眼，沉浸在这好像被封锁在密如蛛网的雨丝中，风儿抚摸着我的脸颊，雨儿滑过我的头发。
  如棉絮一般轻盈的雨，如芦花一般柔美的雨，就那么细，就那么柔，在微风中欢笑着，在微风中舞动着。就这么飘着，飘着……向远处望去，透过绵柔的雨丝织成的如烟一般的春纱，只见一片粉红色的云霞望不到边际。
  近了，近了，花坛里到处都是海棠，我被淹没在海棠花的粉海里。那么多的花，一簇堆在另一簇上面，不留一点空隙，似乎每一片花瓣上都有一个新的生命在颤动，这美丽的海棠花！它们有的倚在叶子上贪婪地吮吸着晶莹的雨滴，有的挤呀挤，挤呀挤，挤到最前面，在风中，在雨中，炫耀着自己的鼎盛时代，有的在绿叶丛中欢快地跳起了优美的舞蹈，显示着自己的喜悦，有的痴痴地仰望着天际，和雨滴们谈着自己的心事。
  雨渐渐大了，我立刻跑进亭子避雨。亭外有一潭湖，湖水碧绿碧绿，在雨的点缀下，仿佛是春姑娘用画笔在那一件绿衣服上添上了点点涟漪。湖上依旧泛着那一片青烟似的薄雾。湖边依傍着几位姑娘——柳树，她们在风雨中轻轻摇曳着，轻盈地抚着自己那碧绿的头发，生怕伤着自己那刚刚抽出的嫩芽儿来。雨，终于停了！
  周围的一切似乎刚刚沐浴过一般，那么的清新，那么的明亮。
  起初，四周围非常清静，后来，忽然起了一声鸟叫。一只小麻雀拍打着翅膀飞了出来，在树梢上停留了片刻，给一个小男孩的脚步声一惊，又扑翅飞进了窝里，叽叽喳喳，叽叽喳喳，也许小麻雀正在窝里向其它的麻雀们诉说着刚才所发生的事情呢！
  春天，是充满活力，充满希望的，那春晨岂不更是如此？
2010年烟台中考满分作文：总想为你唱支歌
  当灵魂被您浇灌后，飘逸出来的是一阵芳香。一路从灵魂的荒漠走来，你是我沿途唯一的绿洲。我想为您唱支歌，妈妈。
  时光悄然流逝，找不到往事走过的脚印。如今，我已挤在了高中生活的轨道上了，依然由您的陪伴。岁月这个不饶人的雕刻者，在您的脸上已轻微刻下了几丝皱纹，但您依旧在我的心中年轻。妈妈，您是我心中的绿洲，何曾老过？您不是这般年轻吗？我要为您唱支歌，歌词的内容包括：您将永远年轻。
  远方有我的希望，硕果的芳香足以让我神往，我努力学习，想让自己永远不会辜负您的希望，而这过程中，您……您做出的努力甚至比我还多。依然清楚记得冬夜里的那个身影，站在校门外，在人群中寻找自己的女儿，脸上的表情总由焦急变为开心；依然记得那些天还微亮就在厨房里忙碌的身影，精心地为我准备早餐，并督促我一定要吃完再上学，依然记得……对于您，我记得的太多。我想把这些想成一首歌，歌词里包括您付出的种种辛劳。
  风在雨中走，爱在心中流。无数个雨天，您跟着风在雨中穿梭，为我送上雨衣，依然记得您那湿漉漉的留海，并且水滴不断滴下。那是一股爱，流淌于我心目中。我想为您唱支歌，唱出您对我的爱，唱出那永不变的爱。
  生命因希望而灿烂；岁月也因希望而葱茏。无数次的失败之后，您总会鼓励我，让我不要对自己失去希望，让我生活在希望之中。这之中当然也包含了您对我的希望。因此，我想为您唱支歌，唱出希望，让我们都拥有灿烂的生命，都拥有葱茏的岁月。
  我想为您唱支歌，唱出我心目中对您的爱，唱出我们之间的所有，所有。
  打开装满记忆的抽屉，那些无数个回忆在我的脑海中翻腾，我忘不了那一切。妈妈的爱，妈妈的年轻的笑，妈妈所付出的种种辛劳，妈妈永远给予我希望，妈妈永远灿烂的生命，永远葱茏的岁月……我要为妈妈唱首歌，这些就是歌词，妈妈，总想为您唱支歌。
</p>

</body>
</html>